<ul class="index-users-ul">
      <li class="users-card-item bio">
        <div class="inner-border even">
          <div class="profile-img even">
          <%= image_tag(user.try(:photo), alt: "User profile photo.") %>
          </div>
        </div>
        <div class="user-name even %>">
        <h2><%=user.name%></h2>
        </div>
        <div class="post-num">
        <p class="para even"><span>Number of posts:  <%= user.posts_counter %> </p>
        <button><%= link_to "Add Post", new_user_post_path(current_user), class: "btn btn-primary" %></button>
        </div>
      </li>
      <div class="user-bio">
      <h3>Bio &#128515</h3>
      <p>&#128214 <%=user.bio%></p>
    </div>
</ul>
