<%= render partial: "user_profile", locals: { user: @user } %>
<% if @posts.any? %>
  <ul class="index-users-ul">
  <% @posts.each_with_index do |post, index| %>
      <li class="users-card-item three-links">
        <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
          <h3 class="post-t <%= index.even? ? 'even' : '' %>">Post #<%= "#{index + 1}" %></h3>
          <p class="said"> &#128394;&#65039 <%= post.text %> Styling is nice to have but focus on making sure everything functions first. Note: Ignore login logic, you would be using Devise in coming milestone</p>
          <p class="likes"> &#129300comments: <%= post.comments_counter %>, &#10084;&#65039Likes: <%= post.likes_counter %></p>
        <% end %>
      </li>
    <% end %>
    <div class="btn-c">
    <li class="button">
      <%= link_to user_posts_path(@user) do %>
        <h3>See All</h3>
      <% end %>
    </li>
    </div>
  </ul>
<% else %>
  <p>No posts found.</p>
<% end %>



