<%= render partial: "users/user_profile", locals: { user: @user } %>
<% if @posts.any? %>
  <ul class="index-users-ul">
    <% @posts.each_with_index do |post, index| %>
      <li class="three-links">
        <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
          <div class="said-m">
          <h3 class="post-t <%= index.even? ? 'even' : '' %>"><%= post.title %> #<%= "#{index + 1}" %></h3>
          <p class="said"> &#128394;&#65039 <%= post.text %></p>
          <p class="likes"> &#129300 comments: <%= post.comments_counter %>, &#10084;&#65039Likes: <%= post.likes_counter %></p>
        <div>
          <% end %>
      </li>
      <div class="comments">
      <h4>Comments:</h4>
      <% if post.comments.any? %>
        <ul>
          <% post.recent_comments.each_with_index do |comment, index| %>
            <li>
              <% user = User.find_by(id: comment.author_id) %>
              <p><%= user.name %>: <span class="com"><%= comment.text %></span></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No comments yeto.</p>
      <% end %>
    </div>
    <% end %>
    <div class="btn-c">
    <li class="button">
        <h3>Pagination</h3>
    </li>
    </div>
  </ul>
<% else %>
  <p>No posts found.</p>
<% end %>
