<%= form_with(model: @post, url: user_posts_path(current_user)) do |form| %>
    <div class="form-control">
      <%= form.label :title, "Title" %>
      <%= form.text_field :title %>
    </div>
    <div class="form-control">
      <%= form.label :text, "Text" %>
      <%= form.text_area :text, size: "70x15" %>
    </div>
    <div class="form-actions">
      <%= form.submit "Create Post", class: "btn btn-primary" %>
    </div>
  <% end %>
  